ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

li {
  color: black;
}
a {
  text-decoration: none;
}

.navbar {
  border: 1px solid black;
}

.text {
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
}
